body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 40px;
}
input, button {
    width: 100px;
    padding: 8px;
    margin: 5px 0;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin-bottom: 5px;
    background: #f2f2f2;
}
.high {
    color: red;
    font-weight: bold;
}
.delete {
    cursor: pointer;
    color: red;
}
.total{
    margin-top: 15px;
    font-weight: bold;
}