body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}
.head {
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.input {
    width: 350px;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
}
.A {
    color: green;
}
.B {
    color: lightgreen;
}
.C {
    color: yellow;
}
.D {
    color: orange;
}
.F {
    color: red;
}
input, button{
width: 100px;
margin: 6px 0;
padding: 8px;
}
button {
    cursor: pointer;
}
#result {
    margin-top: 15px;
    font-weight: bold;
}
li {
    margin-top: 5px;
}