body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
transition: background-color 0.4s, color 0.4s;
}
.container {
    text-align: center;
    margin-top: 50px;
}
.buttons button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}
.active {
    border: 2px solid black;
    font-weight: bold;
}
.light {
    background-color: #ffffff;
    color: #000000;
}
.dark {
    background-color: #121212;
    color: #ffffff;
}
.blue {
    background-color: blue;
    color: #ffffff;
}